# Xcode and macOS related
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.xcodeproj
*.playground
*.moved-aside
.DS_Store

# Build products
build/
AirFit/Build/

# Swift Package Manager
.swiftpm/
Packages/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
*.swp
